.vote {
    height: 100vh;
    min-height: 500px;
    min-width: 325px;
    background: #222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    margin: 0;
}

.vote-btn {
    background: white;
    color: black;
    padding: .75em 2em;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.25em;
}