.vote {
    height: 100vh;
    min-height: 500px;
    min-width: 325px;
    background: #F1F1F1;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tip {
    color: rgb(216, 177, 70);
}

h1 {
    margin: 0;
}

.vote-btn {
    background: #222;
    color: white;
    padding: .75em 2em;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
}