.schedule {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
    border-bottom: solid 5px transparent;
    transition: background .1s;
    user-select: none;
}

.schedule.choosen {
    background: rgba(145, 70, 216, 0.3);
    border-color: rgba(145, 70, 216, 0.5);
    border-radius: 10px;
}

.bar-container {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    height: 25px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.bar {
    position: relative;
    height: 100%;
    background: rgb(118, 216, 61);
    overflow: hidden;
}

.bar-preview {
    position: absolute;
    background: rgb(103, 196, 49);
    height: 100%;
    transition: width .1s;
    transition-delay: .1s;
    overflow: hidden;
}

.bar-lightning {
    position: absolute;
    bottom: 15%;
    left: -50%;
    right: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.35));
    z-index: 5;
}

@keyframes choosen {
    25% {
        opacity: 1;
    }
    50%, 100% {
        right: -10%;
        left: 80%;
        opacity: 0;
    }
}

.info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.schedule-time {
    font-size: 1.25em;
}

.percentage {
    color: rgb(145, 70, 216);
}