.schedule {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.schedule-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: background .1s;
}

.schedule.choosen .schedule-background {
    background: rgba(255, 255, 255, 0.15);
}

.bar-container {
    background: rgba(0, 0, 0, 0.4);
    height: 25px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.bar {
    position: relative;
    height: 100%;
    background: rgb(118, 216, 61);
    overflow: hidden;
    transition: width .1s;
}

.bar-lightning {
    position: absolute;
    bottom: 15%;
    left: -50%;
    right: 100%;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.25);
}

@keyframes choosen {
    50%, 100% {
        right: -10%;
        left: 100%;
    }
}

.info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
}

.schedule-time {
    font-size: 1.25em;
}