.mainHomePage {
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.circleAndText {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding-left: 15px;
    background-color: rgb(255, 79, 79);
    margin-bottom: -10%;
}

.circleAndText2 {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 17%;
    padding-right: 15px;
    justify-content: flex-end;
    background-color: rgb(255, 158, 79);
    margin-bottom: -10%;
}

.circleAndText3 {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 15px;
    background-color: rgb(79, 255, 117);
    margin-bottom: -10%;
}

.circleAndText4 {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 17%;
    padding-left: 12px;
    justify-content: flex-end;
    background-color: rgb(236, 255, 128);
    margin-bottom: -10%;
}

.circleAndText5 {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 15px;
    background-color: rgb(175, 230, 255);
    margin-bottom: -10%;
}

.circle {
    background-image: url('./image/icon1.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 3%;
}

.circle2 {
    background-image: url('./image/icon2.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 3%;
}

.circle3 {
    background-image: url('./image/icon2.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 3%;
}

.circle4 {
    background-image: url('./image/icon3.png');
    background-size: cover;
    height: 50px;
    width: 70px;
    margin: 3%;
}

.circle5 {
    background-image: url('./image/icon4.png');
    background-size: cover;
    height: 50px;
    width: 80px;
    margin: 3%;
    margin-right: 10px;
}


.theTwoButtons {
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;
}

.buttonsConnect {
    color: #f1f1f1;
    padding: 15px;
    background-color: #222;
    border: solid 2px #222;
    border-radius: 10px;
}

.buttonsConnect:active {
    transform: scale(.95);
}

.textHome{
    font-size: 15px;
}