.cocolor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    height: 100vh;
}
.title{
    margin: 0 auto;
    padding: 5% 0;
    height: 20%;
    width: 100%;;
    color: rgb(0, 0, 0);
    justify-content: center;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}
#email{
    height: 50px;
    width: 260px;
    border: none;
    border-bottom: solid 1px #222;
    background: transparent;
}
#email::placeholder{
    color: rgb(216, 177, 70);
    font-size: 1.2em;

}
#password{
    height: 50px;
    width: 260px;
    border: none;
    border-bottom: solid 1px #222;
    background: transparent;
}
#password::placeholder{
    color: rgb(216, 177, 70);
    font-size: 1.2em;
}
.input2{
    margin-top: 80px;
}
.connexion{
    background: #222;
    margin-top: 100px;
    border-radius: 5px;
    border: none;
    height: 60px;
    width: 180px;
    color: rgb(216, 177, 70);
    font-size: 1.2em;
    font-weight: bold;
}
.connexion:active{
    transform: scale(.95);
}