.content1{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    height: 50%;
}

.textPay{
    margin: 0;
    text-align: center;
    background-color: rgb(254, 255, 170);
    border: rgb(184, 184, 184) 4px inset;
    height: 50px;
    width: 80%;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    padding: 15px;
}

.textPay2{
    margin: 0;
    text-align: center;
    background-color: rgb(254, 255, 170);
    border: rgb(184, 184, 184) 4px inset;
    height: 50px;
    width: 80%;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
}

.trait{
    background-color: rgb(190, 190, 190);
    margin-top : 10%;
    width: 450px;
    height: 2px;
}

.cardNumber{
    outline: none;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    height: 66px;
    font-size: 15px;
    width: 80%;
    padding: 0 15px;
    font-size: 25px;
    margin-left:5%;
    margin-top: 5%;
}

.cardNumber1{
    outline: none;
    -webkit-appearance: none;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    vertical-align: middle;
    height: 20%;
    width: 25%;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 2%;
    margin-left:5%;
}

.cardNumber2{
    outline: none;
    -webkit-appearance: none;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    vertical-align: middle;
    height: 20%;
    font-size: 15px;
    width: 33%;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
}
.enterMail{
    outline: none;
    -webkit-appearance: none;
    border: 3px solid #acacac;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    vertical-align: middle;
    height: 10%;
    font-size: 15px;
    width: 60%;
    padding: 0 15px;
    font-size: 20px;
    margin-left: 2%;
}

.contactForm{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.reserveButton{
    background-color: transparent;
    border-radius: 15px;
    border: solid 3px rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25%;
    margin-top:10%;
    margin-left: 30%;
    text-align: center;
    padding: 50px;
}

.reserveButton2{
    background-color: transparent;
    border-radius: 15px;
    height: 45px;
    width: 200px;
    border: solid 3px rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-top: 30%;
    text-align: center;
}

.addMail{
    background-color: transparent;
    border-radius: 15px;
    height: 10%;
    width: 17%;
    border: solid 2px rgb(73, 73, 73);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 2%;
}