.contentFirst{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background-color: #222;
    height: 100vh;
}

.textPay{
    display: flex;
    align-items: center;
    justify-content:left;
    position: relative;
    margin: 0;
    text-align: left;
    background-color: rgb(110, 110, 110);
    border: white 2px solid;
    height: 10%;
    width: 80%;
    padding-left: 5%;
    padding-right: 3%;
    font-size: 15px;
    margin-bottom: -7%;
    color: white;
}

.textPay2{
    display: flex;
    align-items: center;
    justify-content:left;
    position: relative;
    margin: 0;
    text-align: left;
    background-color: rgb(110, 110, 110);
    border: white 2px solid;
    height: 10%;
    width: 80%;
    padding-left: 5%;
    padding-right: 3%;
    font-size: 15px;
    margin-bottom: -10%;
    color: white;
    margin-top: 5%;
    margin-bottom: 2%;
}

.cardNumber{
    outline: none;
    -webkit-appearance: none;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    vertical-align: middle;
    height: 66px;
    font-size: 15px;
    width: 83%;
    padding: 0 15px;
    font-size: 25px;
}

.cardNumber1{
    outline: none;
    -webkit-appearance: none;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    vertical-align: middle;
    height: 20%;
    width: 30%;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 2%;
}

.cardNumber2{
    outline: none;
    -webkit-appearance: none;
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    vertical-align: middle;
    height: 20%;
    font-size: 15px;
    width: 40%;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
}
.enterMail{
    outline: none;
    -webkit-appearance: none;
    border: 3px solid #acacac;
    border-radius: 5px;
    background-color: #fff;
    line-height: 60px;
    vertical-align: middle;
    height: 5%;
    font-size: 15px;
    width: 70%;
    padding: 0 15px;
    font-size: 20px;
    margin-top: -10%;
    margin-bottom: 6%;
}

.placeButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}

.reserveButton{
    background-color: transparent;
    border-radius: 15px;
    height: 60px;
    width: 150px;
    border: solid 3px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25%;
}