.mainPierreContainer {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.titlePierre {
    background-color: #666;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.msgAvertissement {
    background-color: #666;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 0;
}

.reserverButton {
    background-color: transparent;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 25px;
    color: white;
    border: solid 2px #D6A2E8;
}

.reserverButton:active {
    transform: scale(.95);
}

.alexJauges {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    width: 100%;
}

.choiceText {
    font-size: 24px;
    background-color: white;
    padding: 5px;
}

.jaugesContainer1 {
    background-color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #D6A2E8;
    padding: 5px;
    border-radius: 10px;
}

.jaugesContainer2 {
    background-color: white;
    border: solid 2px #D6A2E8;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
}

.fakeBar {
    background-color: grey;
    width: 90%;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
}

.fakeBar p {
    position: absolute;
    color: white;
    right: 10px;
    top: 0;
    margin: 0;
}

.fakeContent1 {
    background-color: #D6A2E8;
    width: 35px;
    height: 25px;
}

.fakeContent2 {
    background-color: #D6A2E8;
    width: 60px;
    height: 25px;
}