.contentReservate{
    height: 100vh;
    background-color: #222;
}

.textReservate{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3%;
}

.textReservate2{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3%;
}

.textReservate3{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3%;
}

.share{
    border: none;
    background-color: rgb(38, 148, 38);
    border-radius: 15px;
    padding: 3%;
    font-size: 15px;
}