
.box1{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.box2{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    align-items: center;
}
.bus{
    margin-top: 30px;
}
.busbus{
    background: url("http://img.over-blog-kiwi.com/0/67/23/27/ob_8f0764_cathedrale-orleans.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}
.selection{
    color: white;
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.ligne1{
    height: 60px;
    width: 60px;
    background: fuchsia;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne1:active{
    transform: scale(.95);
}
.ligne2{
    height: 60px;
    width: 60px;
    background: darkgreen;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne2:active{
    transform: scale(.95);
}
.ligne3{
    height: 60px;
    width: 60px;
    background: orangered;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne3:active{
    transform: scale(.95);
}
.ligne7{
    height: 60px;
    width: 60px;
    background: lightgreen;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne7:active{
    transform: scale(.95);
}
.ligne9{
    height: 60px;
    width: 60px;
    background: brown;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne9:active{
    transform: scale(.95);
}
.ligne18{
    height: 60px;
    width: 60px;
    background: lightblue;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne18:active{
    transform: scale(.95);
}