.contentDate{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.titleJour{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    background: #222;
    border-radius: 5px;

}

.textJour{
    text-align: center;
    width: 320px;
    color: rgb(216, 177, 70);
    font-size: 1.4em;
}

.semaineDate{
    width: 300px;
    background: #222;
    color: rgb(216, 177, 70);
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px 0;
}

.headDate{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.2em;
}


.weekEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

