
.box1{
    display: flex;
    justify-content: space-around;
    margin-top: 25%
}
.box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25%;
}
.ligneDeBus{
    margin: 0 auto;
    border-radius: 10px;
    width: 90%;
    height: 50%;
}
.ligne1{
    height: 60px;
    width: 60px;
    background: fuchsia;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne1:active{
    transform: scale(.95);
}
.ligne2{
    height: 60px;
    width: 60px;
    background: darkgreen;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne2:active{
    transform: scale(.95);
}
.ligne3{
    height: 60px;
    width: 60px;
    background: orangered;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne3:active{
    transform: scale(.95);
}
.ligne7{
    height: 60px;
    width: 60px;
    background: lightgreen;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne7:active{
    transform: scale(.95);
}
.ligne9{
    height: 60px;
    width: 60px;
    background: brown;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne9:active{
    transform: scale(.95);
}
.ligne18{
    height: 60px;
    width: 60px;
    background: lightblue;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.ligne18:active{
    transform: scale(.95);
}

.backLine{
    width: 100%;
    height: 300px;
    background-image: url('./image/choose.jpg');
    background-size: cover;
}