.contentDate{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #222;
}

.titleJour{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 10%;
    margin-top: 0;
    background: #222;
}

.textJour{
    font-size: 180%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1ch;
    padding: 5%;
    width: 100%;
    color: white;
}

.tabDate{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 8%;
    margin-top: 0;
    height: auto;
    margin-bottom: 35%;
}

.weekDate{
    margin: 3%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 0.3ch;
}

.semaineDate{
    margin: 3%;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    border: 2px solid black;
    width: 90%;
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 0.3ch;
}

.headDate{
    margin-top: 5%;
    font-size: 145%;
    font-weight: bold;
}

.linkJour{
    margin: 10px;
}

.weekEnd{
    position: relative;
    width: 100%;
    margin-right: 5%;
    margin-top: 5%;
}

.week{
    width: 100%;
    margin-left: 5%;
}