.contentDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.weekDate{
    width: 70%;
    font-size: 30px;
    box-shadow: black 1px 1px 1px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 3%;
    background-color: white;
    font-family: 'Faster One', cursive;
    margin-left: 15%;
}

.semaineDate{
    width: 70%;
    font-size: 25px;
    box-shadow: black 1px 1px 1px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 3%;
    background-color: rgb(243, 243, 243);
    font-family: 'Faster One', cursive;
    margin-left: 15%;
}
